.json_input {
	width: 100%;
	height: 300px;
	margin: 0;
	font-size: 13px;
	font-family: monospace;
	line-height: normal;
	text-align: start;
	word-spacing: 0px;
	white-space: pre;
	word-wrap: normal;
	text-indent: 0px;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	padding: 0 !important;
}

.json_input:focus {
	border-color: transparent;
	outline: none;
	background-color: #EEEEEE;
}

.linedwrap {
	margin-bottom: 10px;
	background-color: #EEEEEE;
	padding: 0;
}

.linedwrap .codelines {
	padding: 0;
}

.light {
	color: #AAA;
}

.error,.notice,.success {
	margin-bottom:1em;
	border:2px solid #ddd;
	padding:.8em;
}

.error {
	background:#FBE3E4;
	color:#D12F19;
	border-color:#FBC2C4;
}

.notice {
	background:#FFF6BF;
	color:#817134;
	border-color:#FFD324;
}

.success {
	background:#E6EFC2;
	color:#529214;
	border-color:#C6D880;
}

.m-t {
	margin-top: 10px;
}

.m-2t {
	margin-top: 20px;
}

#results, #render-wrapper , .share, #sidebar {
	display: none;
}

#preview {
	width: 100%;
	height: 100%;
	min-height: 20em;
	border: 1px solid #eee;
}

.footer {
	bottom: 0;
	position: fixed;
	opacity: 0.8;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,0.5);
}

#sidebar-wrapper {
	position: fixed;
	right: 0;
	top: 10%;
	background-color: rgba(255,255,255,0.5);
}

#sidebar {
	list-style-type: none;
	padding: 3px;
	border-bottom: 1px solid lightgray;
	clear: both;
}

#sidebar li {
	border-top: 1px solid lightgray;
	padding: 3px;
}

.CodeMirror {
	border: 1px solid #eee;
	height: auto;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	min-height: 20em;
	max-height: 30em;
}